.App {
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.counter {
  font-size: 38px;
  font-weight: bold;
  padding: 10px 93px;
  border: 2px solid black;
  border-radius: 4px;
}

.btn {
  font-size: 20px;
  margin: 5px;
  background: rgb(46, 138, 102);
  border-radius: 4px;
  color: aliceblue;
}